
.row{
  display: flex;
  padding-top: 70px;
  padding-inline: 40px;
  
  
}
.col-6{
  width: 60%;
  
}
.flex{
  display: flex;
}

.main-image{
  width: 90%;
  border-radius: 20px;
  cursor: pointer;
}
.mobile{
  display: none;
}

.product-item{
  display: flex;
  
  
}

.thumbnail{
  width: 75%;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  
}

.product-list .thumbnail{
  border: 2px solid var(--Orange);
  border-radius: 10px;
  color: (--Dark-grayish-blue);
  opacity: .4;
  
  
}

.arrow{
  display: none;
}
.lightbox{
  display: block;
}
.desk-show{
  display: block;
}


















